/*** 
 * Header 
 * 
 */
header { display: grid; place-items: end; position: fixed; z-index: 100; bottom: var(--padding); right: var(--padding) }
header .logo { position: relative; z-index: 9; text-align: end; width: max-content }
header .logo label { filter: var(--logoColor); display: inline-grid; place-items: center; cursor: pointer; }
header .logo svg { fill: var(--logoColor); filter: drop-shadow(0 0 20px var(--logoShadow)) }
header #menu { perspective: 600px; width: 0 }

header #menu li { 
    opacity: 0;
    pointer-events: none;
    text-align: end; 

    transform: translateX(150px) scale(2) rotate(30deg);
    filter: blur(5px);

    transform-style: preserve-3d;
    transform-origin: center right;
    backface-visibility: hidden;

    transition: all var(--globalDuration) var(--easeOutQuint);
    transition-delay: calc(var(--tDelay) * 60ms);
    margin: 2px 0;
}

header [data-menu]:checked ~ #menu { width: auto; }
header [data-menu]:checked ~ #menu li { opacity: 1; transform: none; filter: blur(0); pointer-events: auto; }

header #menu .button.is-custom {
    --buttonBg: var(--ot-color-2);
    --buttonColor: var(--ot-color-8);
    --buttonBorderColor: var(--ot-borderColor);
    --buttonBorderHover: var(--ot-borderColor);
    --buttonRadius: var(--radius-pill);
    --buttonFontWeight: 400;
    line-height: 1.2;
    position: relative;
}

header #menu li { display: flex; align-items: center; justify-content: flex-end; }

header #menu li::before { 
    content: "\2192";
    display: inline-block;
    border-radius: var(--radius-pill);
    border: 1px solid var(--ot-borderColor);
    background: var(--ot-color-2);
    padding: 0.2rem 0.7rem;
    transition: all var(--globalDuration) var(--easeOutQuint); 
    filter: blur(4px);
    transform: translateX(10px);
    opacity: 0;
}

header #menu li:hover::before { filter: blur(0); opacity: 1; transform: none; }

header #menu li [data-new]::before {
    --newSize: 3px;

    content: attr(data-new) "";
    position: absolute;
    top: 0;
    left: calc(-15px + var(--newSize));
    padding: var(--newSize);
    font-size: 50%;
    background: var(--newBg, var(--red));
    color: var(--newColor, var(--white));
    border-radius: 100vw;
}

@media (min-width: 600px) {
    header .logo { transform: scale(1); transition: all var(--globalDuration) ease-in-out; }
    header .logo:hover { transform: scale(1.1); }
    header:hover #menu { width: fit-content; }
    header:hover [data-menu] ~ #menu li { opacity: 1; transform: none; filter: blur(0); pointer-events: all; }
}
